#container {
  width: 600px;
  height: 500px;
  border: 4px double black;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 100px;
  height: 50px;
}
.morph {
  animation: morph 1s linear 1;
  animation-fill-mode: forwards;
}
.morphr {
  animation: morphr 1s linear 1 reverse;
  animation-fill-mode: forwards;
}

@keyframes morph {
  0% {
    d: path(
      'M 405 252 L 405 381.6 A 129.6 129.6 0 0 1 275.4 252.00000000000006 Z M 405 252 L 275.4 252.00000000000003 A 129.6 129.6 0 0 1 405 122.4 Z M 405 252 L 405 122.4 A 129.6 129.6 0 0 1 534.6 252 Z M 405 252 L 534.6 252 A 129.6 129.6 0 0 1 405 381.6 Z '
    );
  }
  100% {
    d: path(
      'M 405 252 L 275.4 252.00000000000003 A 129.6 129.6 0 0 1 313.35896115822345 160.35896115822345 ZM 405 252 L 313.35896115822345 160.35896115822345 A 129.6 129.6 0 0 1 405 122.4 ZM 405 252 L 405 122.4 A 129.6 129.6 0 0 1 496.64103884177655 160.35896115822345 ZM 405 252 L 496.64103884177655 160.35896115822345 A 129.6 129.6 0 0 1 534.6 252 Z '
    );
  }
}

@keyframes morphr {
  0% {
    d: path(
      'M 405 252 L 405 381.6 A 129.6 129.6 0 0 1 275.4 252.00000000000006 Z M 405 252 L 275.4 252.00000000000003 A 129.6 129.6 0 0 1 405 122.4 Z M 405 252 L 405 122.4 A 129.6 129.6 0 0 1 534.6 252 Z M 405 252 L 534.6 252 A 129.6 129.6 0 0 1 405 381.6 Z '
    );
  }
  100% {
    d: path(
      'M 405 252 L 275.4 252.00000000000003 A 129.6 129.6 0 0 1 313.35896115822345 160.35896115822345 ZM 405 252 L 313.35896115822345 160.35896115822345 A 129.6 129.6 0 0 1 405 122.4 ZM 405 252 L 405 122.4 A 129.6 129.6 0 0 1 496.64103884177655 160.35896115822345 ZM 405 252 L 496.64103884177655 160.35896115822345 A 129.6 129.6 0 0 1 534.6 252 Z '
    );
  }
}
