#container {
  width: 1200px;
  height: 800px;
  border: 4px double black;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 100px;
  height: 50px;
}

.anirect {
  animation: recte 200ms linear 1;
  animation-fill-mode: forwards;
}

@keyframes recte {
  to {
    transform: scale(1.1);
  }
}
.anirectr {
  animation: recter 200ms linear 1 reverse;
  animation-fill-mode: forwards;
}
@keyframes recter {
  to {
    transform: scale(1.1);
  }
}
.morph0 {
  animation: morph0 1s linear 1, oppacity 1s linear 1;
  animation-fill-mode: forwards;
}

.morph1 {
  animation: morph1 1s linear 1, oppacity 1s linear 1;
  animation-fill-mode: forwards;
}
.morph2 {
  animation: morph2 1s linear 1, oppacity 1s linear 1;
  animation-fill-mode: forwards;
}
.morph3 {
  animation: morph3 1s linear 1, oppacity 1s linear 1;
  animation-fill-mode: forwards;
}

/* @keyframes oppacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
@keyframes morph0 {
  0% {
    /* opacity: 0; */
    d: path('M 263 454.5 L 263 226.8 A 227.7 227.7 0 0 1 324.43272479245445 235.24373367090612 Z ');
  }
  25% {
    /* opacity: 0.25; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 425.64461017924475 293.35538982075525 Z ');
  }
  50% {
    /* opacity: 0.5; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 461.9734073051227 340.70000000000005 Z ');
  }
  75% {
    /* opacity: 0.75; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 481.41151962507206 384.358715085887 Z ');
  }
  100% {
    opacity: 1;
    d: path('M 263 450 L 263 222.3 A 227.7 227.7 0 0 1 490.7 450 Z ');
  }
}

@keyframes morph1 {
  0% {
    /* opacity: 0; */
    d: path('M 263 454.5 L 263 226.8 A 227.7 227.7 0 0 1 324.43272479245445 235.24373367090612 Z ');
  }
  25% {
    /* opacity: 0.25; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 425.64461017924475 293.35538982075525 Z ');
  }
  50% {
    /* opacity: 0.5; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 461.9734073051227 340.70000000000005 Z ');
  }
  75% {
    /* opacity: 0.75; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 481.41151962507206 384.358715085887 Z ');
  }
  100% {
    opacity: 1;
    d: path('M 263 450 L 263 222.3 A 227.7 227.7 0 0 1 490.7 450 Z ');
    transform: rotate(90deg);
  }
}

@keyframes morph2 {
  0% {
    /* opacity: 0; */
    d: path('M 263 454.5 L 263 226.8 A 227.7 227.7 0 0 1 324.43272479245445 235.24373367090612 Z ');
  }
  25% {
    /* opacity: 0.25; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 425.64461017924475 293.35538982075525 Z ');
  }
  50% {
    /* opacity: 0.5; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 461.9734073051227 340.70000000000005 Z ');
  }
  75% {
    /* opacity: 0.75; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 481.41151962507206 384.358715085887 Z ');
  }
  100% {
    opacity: 1;
    d: path('M 263 450 L 263 222.3 A 227.7 227.7 0 0 1 490.7 450 Z ');
    transform: rotate(180deg);
  }
}

@keyframes morph3 {
  0% {
    /* opacity: 0; */
    d: path('M 263 454.5 L 263 226.8 A 227.7 227.7 0 0 1 324.43272479245445 235.24373367090612 Z ');
  }
  25% {
    /* opacity: 0.25; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 425.64461017924475 293.35538982075525 Z ');
  }
  50% {
    /* opacity: 0.5; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 461.9734073051227 340.70000000000005 Z ');
  }
  75% {
    /* opacity: 0.75; */
    d: path('M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 481.41151962507206 384.358715085887 Z ');
  }
  100% {
    opacity: 1;
    d: path('M 263 450 L 263 222.3 A 227.7 227.7 0 0 1 490.7 450 Z ');
    transform: rotate(270deg);
  }
}

/* @keyframes morph {
  0% {
    opacity: 0.1;
    d: path(
      'M 263 454.5 L 263 226.8 A 227.7 227.7 0 0 1 324.43272479245445 235.24373367090612 Z M 263 454.5 L 324.43272479245445 235.24373367090612 A 227.7 227.7 0 0 1 381.3092654230682 259.94870158476454 Z M 263 454.5 L 381.3092654230682 259.94870158476454 A 227.7 227.7 0 0 1 429.4113490661289 299.0826492891125 Z M 263 454.5 L 429.4113490661289 299.0826492891125 A 227.7 227.7 0 0 1 465.17146423022086 349.74319090861667 Z'
    );
  }
  25% {
    opacity: 0.25;
    d: path(
      'M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 425.64461017924475 293.35538982075525 Z M 264 455 L 425.64461017924475 293.35538982075525 A 228.6 228.6 0 0 1 492.6 455 ZM 264 455 L 492.6 455 A 228.6 228.6 0 0 1 425.64461017924475 616.6446101792448 ZM 264 455 L 425.64461017924475 616.6446101792448 A 228.6 228.6 0 0 1 264 683.6 Z'
    );
  }
  50% {
    opacity: 0.5;
    d: path(
      'M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 461.9734073051227 340.70000000000005 Z M 264 455 L 461.9734073051227 340.70000000000005 A 228.6 228.6 0 0 1 461.9734073051227 569.3 Z M 264 455 L 461.9734073051227 569.3 A 228.6 228.6 0 0 1 264 683.6 Z M 264 455 L 264 683.6 A 228.6 228.6 0 0 1 66.02659269487731 569.3 Z'
    );
  }
  75% {
    opacity: 0.75;
    d: path(
      'M 264 455 L 264 226.4 A 228.6 228.6 0 0 1 481.41151962507206 384.358715085887 Z M 264 455 L 481.41151962507206 384.358715085887 A 228.6 228.6 0 0 1 398.3677086740594 639.941284914113 Z M 264 455 L 398.3677086740594 639.941284914113 A 228.6 228.6 0 0 1 129.63229132594066 639.941284914113 Z M 264 455 L 129.63229132594066 639.941284914113 A 228.6 228.6 0 0 1 46.58848037492791 384.35871508588696 Z'
    );
  }
  100% {
    opacity: 1;
    d: path(
      'M 263 450 L 263 222.3 A 227.7 227.7 0 0 1 490.7 450 Z M 263 450 L 490.7 450 A 227.7 227.7 0 0 1 263 677.7 Z M 263 450 L 263 677.7 A 227.7 227.7 0 0 1 35.30000000000001 450.00000000000006 Z M 263 450 L 35.30000000000001 450 A 227.7 227.7 0 0 1 262.99999999999994 222.3 Z'
    );
  }
} */
