#container {
  width: 600px;
  height: 500px;
  border: 4px double black;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 100px;
  height: 50px;
}
.morph {
  animation: morph 1s linear 1;
  animation-fill-mode: forwards;
}
.morphr {
  animation: morphr 1s linear 1 reverse;
  animation-fill-mode: forwards;
}

@keyframes morph {
  0% {
    d: path(
      'M 302.45804332003877 421.99999572727427 A 206 206 0 0 1 302.2138701327572 10.000198714418474 L 302.44277402655143 174.80003974288368 A 41.2 41.2 0 0 0 302.49160866400774 257.19999914545485 Z M 302.45804332003877 10.00000427272576 A 206 206 0 0 1 480.96287508123993 318.89315923684023 L 338.192575016248 236.57863184736806 A 41.2 41.2 0 0 0 302.49160866400774 174.80000085454515 Z M 480.8598927077218 319.0715706356023 A 206 206 0 0 1 302.6640433024111 421.9999346839579 L 302.5328086604822 257.19998693679156 A 41.2 41.2 0 0 0 338.1719785415444 236.61431412712045 Z'
    );
  }
  100% {
    d: path(
      ' M 45.75001611605765 271.3291270379944 A 194.25 194.25 0 0 1 239.766186536368 77.00014071751755 L 239.883093268184 174.12507035875876 A 97.125 97.125 0 0 0 142.8750080580288 271.28956351899717 Z M 239.9604364801822 77.00000402901446 A 194.25 194.25 0 0 1 408.08917566025633 173.88937384211476 L 324.0445878301282 222.56968692105738 A 97.125 97.125 0 0 0 239.98021824009112 174.12500201450723 Z M 408.1864522256066 174.05751167006918 A 194.25 194.25 0 0 1 434.2499028750081 271.055750032375 L 337.124951437504 271.1528750161875 A 97.125 97.125 0 0 0 324.09322611280334 222.6537558350346 Z '
    );
  }
}

@keyframes morphr {
  0% {
    d: path(
      'M 302.45804332003877 421.99999572727427 A 206 206 0 0 1 302.2138701327572 10.000198714418474 L 302.44277402655143 174.80003974288368 A 41.2 41.2 0 0 0 302.49160866400774 257.19999914545485 Z M 302.45804332003877 10.00000427272576 A 206 206 0 0 1 480.96287508123993 318.89315923684023 L 338.192575016248 236.57863184736806 A 41.2 41.2 0 0 0 302.49160866400774 174.80000085454515 Z M 480.8598927077218 319.0715706356023 A 206 206 0 0 1 302.6640433024111 421.9999346839579 L 302.5328086604822 257.19998693679156 A 41.2 41.2 0 0 0 338.1719785415444 236.61431412712045 Z'
    );
  }
  100% {
    d: path(
      ' M 45.75001611605765 271.3291270379944 A 194.25 194.25 0 0 1 239.766186536368 77.00014071751755 L 239.883093268184 174.12507035875876 A 97.125 97.125 0 0 0 142.8750080580288 271.28956351899717 Z M 239.9604364801822 77.00000402901446 A 194.25 194.25 0 0 1 408.08917566025633 173.88937384211476 L 324.0445878301282 222.56968692105738 A 97.125 97.125 0 0 0 239.98021824009112 174.12500201450723 Z M 408.1864522256066 174.05751167006918 A 194.25 194.25 0 0 1 434.2499028750081 271.055750032375 L 337.124951437504 271.1528750161875 A 97.125 97.125 0 0 0 324.09322611280334 222.6537558350346 Z '
    );
  }
}
