
button {
  width: 100px;
  height: 50px;
}
.morphr {
  animation: morphr 1s linear 1 reverse;
  animation-fill-mode: forwards;
  /*transform-origin: 200px 500px;*/
}

.morph {
  animation: morph 1s linear 1;
  animation-fill-mode: forwards;
}

@keyframes morph {
  0% {
    d: path(
      'M 800 500 A 1 100 0 0 1 800 800 L 620 800 A 1 100 0 0 0 620 500 z M 220 800 A 1 100 0 1 1  220 300 L 400 300 A 1 100 0 1 0  400 800 z'
    );
  }
  100% {
    d: path(
      'M 218 285 A 178 178 0 0 1 372 553 L 264 491 A 53 53 0 0 0 218 410 Z M 372 553 A 178 178 0 1 1 217 285 L 218 410 A 53 53 0 1 0 264 491.332 Z'
    );
  }

  /* 100% {
      d: path(
        'M 245.5 157.34270186335402A 210.65729813664598 210.65729813664598 0 0 1 443.505670554517 439.90446221541345L 349.34010735920924 405.70885477746435A 110.47500000000001 110.47500000000001 0 0 0 245.5 257.525 Z M 450.4713423525261 442.43400029986446A 218.06804347826088 218.06804347826088 0 0 1 191.60191734019088 579.3023148761818L 218.1948039388632 475.04742824123747A 110.47500000000001 110.47500000000001 0 0 0 349.34010735920924 405.70885477746435 Z M 193.85756397132826 570.4592664562534A 208.94184782608698 208.94184782608698 0 0 1 42.705695516032705 418.31069311631126L 138.27542521537362 394.6010561304634A 110.47500000000001 110.47500000000001 0 0 0 218.1948039388632 475.04742824123747 Z M 31.05085043074729 421.20211226092704A 220.95000000000002 220.95000000000002 0 0 1 245.49999999999977 147.04999999999998L 245.4999999999999 257.525A 110.47500000000001 110.47500000000001 0 0 0 138.27542521537364 394.6010561304635 Z'
      );
    } */
}
@keyframes morphr {
  0% {
    d: path(
      'M 800 500 A 1 100 0 0 1 800 800 L 620 800 A 1 100 0 0 0 620 500 z M 220 800 A 1 100 0 1 1  220 300 L 400 300 A 1 100 0 1 0  400 800 z'
    );
  }
  100% {
    d: path(
      'M 218 285 A 178 178 0 0 1 372 553 L 264 491 A 53 53 0 0 0 218 410 Z M 372 553 A 178 178 0 1 1 217 285 L 218 410 A 53 53 0 1 0 264 491.332 Z'
    );
  }
}
