.button {
  width: 100px;
  height: 50px;
}
.morph {
  animation: morph 1s linear 1;
  animation-fill-mode: forwards;
}
.morphr {
  animation: morphr 1s linear 1 reverse;
  animation-fill-mode: forwards;
}
p {
  font-family: Verdana;
  font-size: 20;
  text-align: left;
  margin: 5px;
}
#text {
  border: 2px solid black;
}
#container {
  width: 800px;
  height: 700px;
  border: 4px double black;
  margin-left: auto;
  margin-right: auto;
}

@keyframes morph {
  0% {
    d: path(
      'M 239.5 171.52818322981366A 196.47181677018634 196.47181677018634 0 0 1 424.17213891355544 435.0624775419918L 249.63022635948295 371.6787253438708A 10.777500000000002 10.777500000000002 0 0 0 239.5 357.2225 Z M 437.08345847234983 439.75113866349665A 210.20810869565216 210.20810869565216 0 0 1 187.5445926990221 571.6862406094054L 236.83621407061415 378.44311978157896A 10.777500000000002 10.777500000000002 0 0 0 249.63022635948295 371.6787253438708 Z M 191.72557844036248 555.2950830391881A 193.2921195652174 193.2921195652174 0 0 1 51.89497325549132 414.54242608853224L 229.03959850879102 370.59509284857273A 10.777500000000002 10.777500000000002 0 0 0 236.83621407061415 378.44311978157896 ZM 30.291970175820666 419.9018569714543A 215.55 215.55 0 0 1 239.49999999999977 152.45L 239.5 357.2225A 10.777500000000002 10.777500000000002 0 0 0 229.03959850879104 370.59509284857273 Z'
    );
  }
  100% {
    d: path(
      'M 245.5 157.34270186335402A 210.65729813664598 210.65729813664598 0 0 1 443.505670554517 439.90446221541345L 349.34010735920924 405.70885477746435A 110.47500000000001 110.47500000000001 0 0 0 245.5 257.525 Z M 450.4713423525261 442.43400029986446A 218.06804347826088 218.06804347826088 0 0 1 191.60191734019088 579.3023148761818L 218.1948039388632 475.04742824123747A 110.47500000000001 110.47500000000001 0 0 0 349.34010735920924 405.70885477746435 Z M 193.85756397132826 570.4592664562534A 208.94184782608698 208.94184782608698 0 0 1 42.705695516032705 418.31069311631126L 138.27542521537362 394.6010561304634A 110.47500000000001 110.47500000000001 0 0 0 218.1948039388632 475.04742824123747 Z M 31.05085043074729 421.20211226092704A 220.95000000000002 220.95000000000002 0 0 1 245.49999999999977 147.04999999999998L 245.4999999999999 257.525A 110.47500000000001 110.47500000000001 0 0 0 138.27542521537364 394.6010561304635 Z'
    );
  }
}

@keyframes morphr {
  0% {
    d: path(
      'M 239.5 172.53229813664598A 195.46770186335402 195.46770186335402 0 0 1 423.2283290042868 434.7197391559169L 239.5 368 Z M 436.8191916977546 439.65517191539567A 209.92695652173913 209.92695652173913 0 0 1 187.61408276674518 571.413811397712L 239.5 368 Z M 192.0151203892088 554.159961323799A 192.12065217391304 192.12065217391304 0 0 1 53.03197341757925 414.26035077890475L 239.5 368 ZM 30.291970175820666 419.9018569714543A 215.55 215.55 0 0 1 239.49999999999977 152.45L 239.5 368 Z'
    );
  }
  2% {
    d: path(
      'M 239.5 171.52818322981366A 196.47181677018634 196.47181677018634 0 0 1 424.17213891355544 435.0624775419918L 249.63022635948295 371.6787253438708A 10.777500000000002 10.777500000000002 0 0 0 239.5 357.2225 Z M 437.08345847234983 439.75113866349665A 210.20810869565216 210.20810869565216 0 0 1 187.5445926990221 571.6862406094054L 236.83621407061415 378.44311978157896A 10.777500000000002 10.777500000000002 0 0 0 249.63022635948295 371.6787253438708 Z M 191.72557844036248 555.2950830391881A 193.2921195652174 193.2921195652174 0 0 1 51.89497325549132 414.54242608853224L 229.03959850879102 370.59509284857273A 10.777500000000002 10.777500000000002 0 0 0 236.83621407061415 378.44311978157896 ZM 30.291970175820666 419.9018569714543A 215.55 215.55 0 0 1 239.49999999999977 152.45L 239.5 357.2225A 10.777500000000002 10.777500000000002 0 0 0 229.03959850879104 370.59509284857273 Z'
    );
  }
  100% {
    d: path(
      'M 245.5 157.34270186335402A 210.65729813664598 210.65729813664598 0 0 1 443.505670554517 439.90446221541345L 349.34010735920924 405.70885477746435A 110.47500000000001 110.47500000000001 0 0 0 245.5 257.525 Z M 450.4713423525261 442.43400029986446A 218.06804347826088 218.06804347826088 0 0 1 191.60191734019088 579.3023148761818L 218.1948039388632 475.04742824123747A 110.47500000000001 110.47500000000001 0 0 0 349.34010735920924 405.70885477746435 Z M 193.85756397132826 570.4592664562534A 208.94184782608698 208.94184782608698 0 0 1 42.705695516032705 418.31069311631126L 138.27542521537362 394.6010561304634A 110.47500000000001 110.47500000000001 0 0 0 218.1948039388632 475.04742824123747 Z M 31.05085043074729 421.20211226092704A 220.95000000000002 220.95000000000002 0 0 1 245.49999999999977 147.04999999999998L 245.4999999999999 257.525A 110.47500000000001 110.47500000000001 0 0 0 138.27542521537364 394.6010561304635 Z'
    );
  }
}
